.blinking-cursor {
  position: relative;
  display: inline-block;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

.blinking-cursor::after {
  display: inline-block;
  width: 0;
  height: 0;
  position: relative;
  top: -0.3rem;
  scale: 1.2;
  content: "|";
}

@keyframes "blink" {
  from,
  to {
    color: transparent;
  }
  50% {
    color: currentColor;
  }
}

@-moz-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: currentColor;
  }
}

@-webkit-keyframes "blink" {
  from,
  to {
    color: transparent;
  }
  50% {
    color: currentColor;
  }
}

@-ms-keyframes "blink" {
  from,
  to {
    color: transparent;
  }
  50% {
    color: currentColor;
  }
}

@-o-keyframes "blink" {
  from,
  to {
    color: transparent;
  }
  50% {
    color: currentColor;
  }
}
