@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Baloo 2";
    src: url('../assets/fonts/baloo-2/bold.ttf');
    font-display: swap;
  }

  @font-face {
    font-family: "Comfortaa";
    font-weight: 400;
    src: url('../assets/fonts/comfortaa/regular.ttf');
    font-display: swap;
  }

  @font-face {
    font-family: "Comfortaa";
    font-weight: 600;
    src: url('../assets/fonts/comfortaa/semibold.ttf');
    font-display: swap;
  }

  body {
    @apply m-0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  * {
    scroll-behavior: smooth;
  }

  html,
  body {
    @apply overflow-x-hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Baloo 2";
  }
}

@layer components {
}

@layer utilities {
  @import url("./bg-pattern.css");
  @import url("./bg-pattern-dark.css");

  @variants responsive {
    .masonry-2-col {
      column-count: 2;
      column-gap: 1em;
    }
    .masonry-2-col > * {
      break-inside: avoid;
    }
  }
}
