@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,600;0,700;1,500;1,600;1,700&display=swap");

  body {
    @apply m-0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  * {
    scroll-behavior: smooth;
  }

  html,
  body {
    @apply overflow-x-hidden;
  }
}

@layer components {

}

@layer utilities {
  @import url("./blinking-cursor.css");
  @import url("./bg-pattern.css");
  @variants responsive {
    .masonry-2-col {
      column-count: 2;
      column-gap: 1em;
    }
    .masonry-2-col > * {
      break-inside: avoid;
    }
  }
}
